.container {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    margin: 24px 12px;
    flex-direction: column;
    align-items: center;
}

.block {
    margin-top: 12px;
    width: 540px;
}

.actions-form-container {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions-form-btn {
    margin-top: 12px;
}

.hidden {
    display: none;
}